
streamlit==1.45.1
python-dotenv==1.1.0

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-google-genai==2.1.4

google-api-python-client==2.169.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-ai-generativelanguage>=0.6.18
httplib2==0.22.0

huggingface-hub==0.31.4
sentence-transformers==4.1.0
faiss-cpu==1.11.0

pypdf==5.5.0

tqdm==4.67.1
requests==2.32.3
